<%= render "shared/second-header"%>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      バックアップコード
    </h1>
  </div>
  <div class="form-group">
    <% @codes.each do |code| %>
      <li><%= code %></li>
    <% end %>
  </div>
  <div class='login-btn'>
    <%= link_to 'トップページへ', root_path %>
  </div>
</div>
<%= render "shared/second-footer"%>